body {
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
}
.slide-in-left {
    animation: slide-in-left 0.7s ease-in-out forwards;
}
.slide-in-right {
    animation: slide-in-right 0.7s ease-in-out forwards;
}
.slide-in-bottom {
    animation: slide-in-bottom 0.7s ease-in-out forwards;
}
.slide-in-top {
    animation: slide-in-top 0.7s ease-in-out forwards;
}
.jumb-btn {
    animation: slide-in-bottom 0.7s ease-in-out forwards;
}
.scale-up {
    animation: scale-up 0.7s ease-in-out forwards;
}
.scale-down {
    animation: scale-down 0.7s ease-in-out forwards;
}
.ping {
    animation: ping 2s ease-in-out infinite;
}
.bounce {
    animation: bounce 1s infinite;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-5vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide-in-right {
    from {
        transform: translateX(5vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slide-in-bottom {
    from {
        transform: translateY(5vw);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes slide-in-top {
    from {
        transform: translateY(-5vw);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes ping {
    from {
      transform: scale(1.2);
      opacity: 0.5;
    } 
    to {
        transform: scale();
        opacity: 1;
    }
}
@keyframes scale-up {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
@keyframes scale-down {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(-20%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

